:root {
    --white: #fdfffc;
    --white-selected: #87d3ed;
    --black: #020100;
    --black-selected: #2277a9;
    --cursor: #e8c547;
    --num-colour: #e5b80b;
}

/* :root.[mode-name] */

@font-face {
    font-family: "Gothica";
    src: url("../../fonts/Gothica-Book.ttf");
}

.chessboard { 
    font-family: "Gothica";
    display: grid; 
    border: 3px solid var(--num-colour);
}

[class*="-tile"] {
    position: relative;
    color: var(--num-colour);
}

[class*="-tile"] > .knight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

[class*="-tile"].cursor,
[class*="-tile"].selected.cursor { background-color: var(--cursor); }

.black-tile { background-color: var(--black); }

.black-tile.selected { background-color: var(--black-selected); }

.white-tile { background-color: var(--white); }

.white-tile.selected { background-color: var(--white-selected); }