@font-face {
    font-family: "Merom Sans";
    src: url("../fonts/MeromSans-Regular.ttf");
}

@font-face {
    font-family: "Dogica";
    src: url("../fonts/dogica.ttf");
}

@font-face {
    font-family: "Gothica";
    src: url("../fonts/Gothica-Book.ttf");
}

@font-face {
    font-family: "Alex Brush";
    src: url("../fonts/AlexBrush-Regular-OTF.otf")
}

@font-face {
    font-family: "Free Metto";
    src: url("../fonts/freemetto.ttf");
}

@font-face {
    font-family: "Rich Eatin";
    src: url("../fonts/Rich\ Eatin\'.otf");
}

@font-face {
    font-family: "Beon";
    src: url("../fonts/Beon-Regular.otf");
}

:root {
    --white: #fdfffc;
    --black: #020100;
}

:root.normal {
    --font: "Merom Sans";
    --marker-font: "Free Metto";
    --white: #ffecd1;
    --black: #001524;
    --screen: #15616d;
    --error-screen: #78290f;
    --border-colour: #ff7d00;
    --cursor: #36bce1;
    --text-colour: #001524;
    --bottom-border: #ff7d00;
}

:root.retro {
    --font: "Dogica";
    --marker-font: "Dogica";
    --white: #aaaaaa;
    --black: #0f380f;
    --screen: #9bbc0f;
    --error-screen: #f69493;
    --border-colour: #b5af42;
    --cursor: #8bac0f;
    --text-colour: #0f380f;
    --bottom-border: #b5af42;
}

:root.neon {
    --font: "Beon";
    --marker-font: "Beon";
    --white: #ea00d9;
    --black: #133e7c;
    --screen: #091833;
    --error-screen: #f23ca6;
    --border-colour: #711c91;
    --cursor: #0abdc6;
    --text-colour: #fbff36;
    --bottom-border: #711c91;
}

:root.terminal {
    --font: "Dogica";
    --marker-font: "Dogica";
    --white: black;
    --black: black;
    --screen: black;
    --error-screen: red;
    --border-colour: green;
    --cursor: black;
    --text-colour: green;
    --bottom-border: black;
}

:root.fancy {
    --font: "Gothica";
    --marker-font: "Alex Brush";
    --white: #efefe9;
    --black: #223030;
    --screen: #e8d9cd;
    --error-screen: #d7504d;
    --border-colour: #523d35;
    --cursor: #bba584;
    --text-colour: #223030;
    --bottom-border: #523d35;
}

:root.scruffy {
    --font: "Rich Eatin";
    --marker-font: "Rich Eatin";
    --white: #f7f7f7;
    --black: #170f11;
    --screen: #21c5b0;
    --error-screen: #7a0a0a;
    --border-colour: #dfcc16;
    --cursor: #12a365;
    --text-colour: #170f11;
    --bottom-border: #dfcc16;
}

.tic-tac-toe-game-module {
    position: absolute;
    color: var(--text-colour);
    background-color: var(--screen);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.scorecard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--cursor);
    border: 3px solid var(--border-colour);
}

.scorecard > [class*="-scorecard"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information-container { font-size: 1.5rem; }

.info-message { font-size: 1rem; }


@keyframes blink {
    0% { 
        opacity: 0; 
        border-bottom: 2px solid var(--border-colour);
    }
    50% { 
        opacity: 1;
        border-bottom: 2px solid var(--bottom-border);
    }
    100% { 
        opacity: 0;
        border-bottom: 2px solid var(--border-colour);
    }
}