@font-face {
    font-family: "Merom Sans";
    src: url("../fonts/MeromSans-Regular.ttf");
}

@font-face {
    font-family: "Dogica";
    src: url("../fonts/dogica.ttf");
}

.gamechip {
    width: 100vw;
    height: 100vh;
    border-radius: 1.5rem;
    font-family: "Merom Sans";
    background-color: #f2ad26;
}

.gamechip-background { 
    display: flex;
    position: relative;
    padding: 0.3rem;
    background-color: #020100;
    justify-content: center;
    align-items: center;
}

.gamechip-display { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.gamechip-display, .initial-screen { background-color: #e9f7c2; }

.gamechip-title {
    display: block;
    position: absolute;
    bottom: 1px;
}

.gamechip-title, .initialise-title {
    color: #363b97;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initialise-title.roll-down {
    animation-name: rolldown;
    animation-duration: 5s;
}

.initialise-title.roll-up {
    animation-name: rollup;
    animation-duration: 2s;
}

.initial-screen.ready { 
    justify-content: flex-start; 
    gap: 1rem;
}

.available-game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.available-game-title {
    font-size: 1rem;
    font-family: "Dogica";
    color: #0f380f;
    text-align: center;
}

.initial-cursor.active { animation: blink 0.8s infinite; }

.gamechip-controller {
    margin-bottom: 2rem;
}

.direction-pad {
    grid-area: d-pad;
    display: grid;
    grid-template-areas:
        ". up ."
        "left central right"
        ". down .";
}

[id*="-btn"], #central-pad { 
    border: none;
    background-color: #4d5061; 
}

.direction-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#up-btn { 
    grid-area: up; 
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

#up-arrow {
    width: 0; 
    height: 0; 
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 0.6rem solid #2a2e3d;
}

#right-btn { 
    grid-area: right; 
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.initial-cursor.active, #right-arrow {
    width: 0; 
    height: 0; 
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    border-left: 0.6rem solid #2a2e3d;
}

#down-btn { 
    grid-area: down; 
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

#down-arrow {
    width: 0; 
    height: 0; 
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid #2a2e3d;
}

#left-btn { 
    grid-area: left; 
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

#left-arrow {
    width: 0; 
    height: 0; 
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    border-right: 0.6rem solid #2a2e3d;
}

#central-pad { grid-area: central; }

.action-button {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

#a-btn { grid-area: a-btn; }

#b-btn { grid-area: b-btn; }

.user-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.user-button > [class*="label"] { color: #f08d00; }

.user-button > button {
    width: 3rem;
    height: 1rem;
    border-radius: 0.5rem;
}

#start-container { grid-area: start; }

#select-container { grid-area: select; }

@media (orientation: portrait) {
    .gamechip {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .gamechip-background {
        margin-top: 2rem;
        width: 90vw;
        height: 45vh;
    }

    .gamechip-controller {
        width: 90vw;
        height: 35vh;
        display: grid;
        grid-template-areas:
            "d-pad d-pad d-pad d-pad . b-btn"
            "d-pad d-pad d-pad d-pad a-btn ."
            "d-pad d-pad d-pad d-pad . ."
            ". . . start select .";
    }

    .direction-pad {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@media (orientation: landscape) {
    .gamechip {
        position: absolute;
    }

    .gamechip-background {
        position: relative;
        width: 50vw;
        height: 90vh;
        left: 25vw;
        top: 5vh;
        z-index: 1;
    }

    .gamechip-controller {
        position: absolute;
        top: 2.5vh;
        left: 2.5vw;
        width: 95vw;
        height: 95vh;
        z-index: 0;
        display: grid;
        grid-template-areas:
            ". . . . . . . . . ."
            "d-pad d-pad . . . . . . . ."
            "d-pad d-pad . . . . . . . a-btn"
            ". . . . . . . . . ."
            "start . . . . . . . . b-btn"
            "select . . . . . . . . .";
    }

    .direction-pad {
        width: 9rem;
        height: 9rem;
    }

    .direction-button, #central-pad {
        width: 3rem;
        height: 3rem;
    }
}

@keyframes rolldown {
    0% { translate: 0; }
    100% { translate: 0 400%; }
}

@keyframes rollup {
    0% { translate: 0 400%; }
    100% { translate: 0; }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}