.chessboard {
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--orange);
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas:
        "tile-70 tile-71 tile-72 tile-73 tile-74 tile-75 tile-76 tile-77"
        "tile-60 tile-61 tile-62 tile-63 tile-64 tile-65 tile-66 tile-67"
        "tile-50 tile-51 tile-52 tile-53 tile-54 tile-55 tile-56 tile-57"
        "tile-40 tile-41 tile-42 tile-43 tile-44 tile-45 tile-46 tile-47"
        "tile-30 tile-31 tile-32 tile-33 tile-34 tile-35 tile-36 tile-37"
        "tile-20 tile-21 tile-22 tile-23 tile-24 tile-25 tile-26 tile-27"
        "tile-10 tile-11 tile-12 tile-13 tile-14 tile-15 tile-16 tile-17"
        "tile-00 tile-01 tile-02 tile-03 tile-04 tile-05 tile-06 tile-07";
}

[class*="-tile"] {
    width: var(--mobile-tile-size);
    height: var(--mobile-tile-size);
}

.black-tile {
    background-color: var(--onyx);
}

.black-tile.selected {
    background-color: var(--dark-selected);
}

.white-tile {
    background-color: var(--white);
}

.white-tile.selected {
    background-color: var(--light-selected);
}

.knight > img {
    width: var(--mobile-tile-size);
    height: var(--mobile-tile-size);
}

@media only screen and (min-width: 700px) {
    .chessboard { grid-area: board; }

    [class*="-tile"] {
        width: var(--regular-tile-size);
        height: var(--regular-tile-size);
    }

    .knight > img {
        width: var(--regular-tile-size);
        height: var(--regular-tile-size);
    }
}