.chessboard {
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--orange);
    width: fit-content;
    height: fit-content;
    display: grid;
}

[class*="-tile"] {
    width: var(--mobile-tile-size);
    height: var(--mobile-tile-size);
    color: var(--gold);
    font-size: calc(var(--mobile-tile-size) * 0.8);
    position: relative;
}

[class*="-tile"] > .knight { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.black-tile {
    background-color: var(--onyx);
}

.black-tile.selected {
    background-color: var(--dark-selected);
}

.white-tile {
    background-color: var(--white);
}

.white-tile.selected {
    background-color: var(--light-selected);
}

.knight > img {
    width: var(--mobile-tile-size);
    height: var(--mobile-tile-size);
}

@media only screen and (min-width: 700px) {
    .chessboard { grid-area: board; }

    [class*="-tile"] {
        width: var(--regular-tile-size);
        height: var(--regular-tile-size);
        font-size: calc(var(--regular-tile-size) * 0.8);
    }

    .knight > img {
        width: var(--regular-tile-size);
        height: var(--regular-tile-size);
    }
}