.puzzle-controller {
    border: 0.2rem solid var(--orange);
    border-radius: 0.5rem;
    background-color: var(--dark-blue);
    padding: 0.2rem;
    display: grid;
    grid-template-areas:
        "board-builder display"
        "shortest-path display"
        "knights-tour display";
}

.puzzle-controller > div > h2 {
    margin: 0;
    font-family: "Gothica-Bold";
    color: var(--white);
}

[class*="-btn"] {
    width: fit-content;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    font-family: "Gothica-Italic";
    font-size: 0.7rem;
    color: var(--white);
    background-color: var(--orange);
}

[class*="-btn"]:hover { background-color: var(--dark-orange); }

.controller-display {
    grid-area: display;
    font-family: "Dogica";
    font-size: 0.5rem;
    border: 0.1rem solid var(--onyx);
    width: 8rem;
    height: 12rem;
    margin-left: 0.5rem;
    color: var(--onyx);
    background-color: var(--light-blue);
    white-space: pre-wrap;
    overflow-y: scroll;
}

.controller-display.alert {
    color: var(--white);
    background-color: var(--magenta);
}

.board-builder {
    grid-area: board-builder;
    display: grid;
    grid-template-areas:
        "bb-title bb-title"
        "bb-info bb-select";
}

.info-board-builder-btn { grid-area: bb-info; }

.board-builder-dropdown { grid-area: bb-select; }

.shortest-path-buttons {
    grid-area: shortest-path;
    display: grid;
    grid-template-areas:
        "sp-title sp-title sp-title sp-title"
        "sp-human sp-info sp-undo sp-comp";
}

.shortest-path-buttons > h2 { grid-area: sp-title; }

.start-shortest-path-btn { grid-area: sp-human; }

.info-shortest-path-btn { grid-area: sp-info; }

.undo-shortest-path.btn { grid-area: sp-undo; }

.show-shortest-path-btn { grid-area: sp-comp; }

.knights-tour-buttons {
    grid-area: knights-tour;
    display: grid;
    grid-template-areas:
        "kt-title kt-title kt-title kt-title"
        "kt-human kt-info kt-undo kt-comp";
}

.knights-tour-buttons > h2 { grid-area: kt-title; }

.start-knights-tour-btn { grid-area: kt-human; }

.info-knights-tour-btn { grid-area: kt-info; }

.undo-knights-tour-btn { grid-area: kt-undo; }

.show-knights-tour-btn { grid-area: kt-comp; }

@media only screen and (min-width: 700px) {
    .puzzle-controller {
        grid-area: controller;
        display: grid;
        grid-template-areas:
            "display"
            "display"
            "board-builder"
            "shortest-path"
            "knights-tour";
    }

    .controller-display {
        width: 16rem;
        height: 16rem;
        margin-left: 0;
    }
}