.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--dark-blue);
}

.nav-bar > * {
    padding: 0.5rem;
}

.nav-bar > h1 {
    font-family: "Gothica-Bold";
    color: var(--white);
    margin: 0;
}

.nav-bar > button {
    border: none;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}

@media only screen and (min-width: 700px) {
    .nav-bar { grid-area: header; }

    .footer { grid-area: footer; }
}