/* Root Variables */
:root {
    --white: #f5f5f5;
    --light-selected: #c1dfd4;
    --onyx: #454545;
    --dark-selected: #314f3e;
    --magenta: #d67ab1;
    --green: #9dcbba;
    --dark-green: #406b56;
    --blue: #b4e4fc;
    --orange: #ffb140;
    --dark-orange: #fa8100;
    --mobile-tile-size: 2rem;
    --regular-tile-size: 5rem;
}

/* Regular Font */
@font-face {
    font-family: "Kaligrafica";
    src: url("../fonts/Kaligrafica.ttf");
}

@font-face {
    font-family: "Dogica";
    src: url("../fonts/dogica.ttf");
}

/* Body Styling */
body {
    font-family: "Kaligrafica";
    font-size: 1rem;
    height: 100vh;
    color: var(--onyx);
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 600px) {}